body {
    margin-top: 5%;
    background-color: rgb(82, 19, 6);
}


/* Själva textchatten*/
#message-container{
    width: 30%;
    float: right;
    margin-right: 5%;
    background-color: rgb(112, 54, 42);
    border-radius: 8px;
    border: 5px solid white;
}

/* Det som finns i textchatten */
#send-container{
    /* Positioner */
    margin-right: auto;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
    color: white;
    font-size: 22px;
}

/* Spelbrädet */
img {
    /* Linjen runt brädet */
    border-radius: 8px;
    border: 5px solid white;
    
    /* position av brädet */
    display: block;
    margin-left: 5%;
    float: left;
    width: 40%;
}